.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: auto;
  
  ;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ECCA3;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(47, 192, 105), 0 0 5px rgb(47, 192,105);
}

h2{
  font-family:'Lobster', cursive;
  color: white;
  
}

.style{
  width: 13%;
}

p {
  font-size: .5rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 10%;
  margin: 20px;
}

footer{
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

